* {
    padding: 0;
    margin: 0;
}

body,
.container,
.container>* {
    border: 1px solid #999;
    padding: 20px;
}

.container {
    background-color: #eee;
}

.container:after {
    display: block;
    clear: both;
    content: "";
}

.container * {
    background-color: #fff;
}

#left {
    width: 160px;
    float: left;
}

#left span {
    float: right;
}

#right {
    width: 80px;
    float: right;
}
#middle {
    margin-left: 222px;
    margin-right: 142px;
    line-height: 20px;
    font-size: 15px;
}

#left img,#right img{
    width: 78px;
    height: 78px;
    border: 1px solid #999;
}

#right img:not(:last-child) {
    margin-bottom: 20px;
}