.container{	
	border: 1px solid #999;
	padding-top: 100px;
	padding-bottom: 100px;
	min-width：402px;
}
.main{
	text-align: center;
	position: relative;
	margin: 0 auto;
	width: 400px;
	/*height: 200px;*/
	min-height: 100px;
	background-color: #ccc;
	overflow: hidden;
}
p{
	width: 280px;
	margin: 50px auto;
}
.rad{
	width: 100px;
	height: 100px;
	position: absolute;
	border-radius: 50%;
	background-color: #fc0;
}
#rad1{
	top: -50px;
	left: -50px;
}
#rad2{
	bottom: -50px;
	right: -50px;
}
